<div id="container">
    <a id="blue" (click)="evaluatePaper()">
       
            <div id="paper"><img src="../../../../assets/RockPaperScissors/icon-paper.svg" draggable="false">
            </div>
    
    </a>
    <a id="yellow" (click)="evaluateScissors()">
      
            <div id="scissors"> <img src="../../../../assets/RockPaperScissors/icon-scissors.svg" draggable="false">
            </div>
        
    </a>
    <a id="red" (click)="evaluateRock()">
      
            <div id="rock"> <img src="../../../../assets/RockPaperScissors/icon-rock.svg" draggable="false">
            </div>
       
    </a>
</div>