#container{
    display: flex;
    flex-direction: row;
    padding:25px 50px;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    #title{
        color:white;
        line-height: 40px;
        letter-spacing: 2px;
    }
    h1{
        font-size: 75px;
        letter-spacing: 2px;
        color: white;
    }
    h2{
        font-size: 50px;
        text-align: center;
    }
    h3{
        font-size: 25px;
        color: rgb(80, 80, 80);
    }
    h4{
        font-size: 50px;
        color:rgb(80, 80, 80);
        padding-top:15px;
        line-height: 50px;
    }
    #score{
        background-color: white;
        border-radius: 25px;
        #items{
            flex-direction: column;
            display: flex;
            align-items:center;
            padding:15px 50px;
        }
    }
}
@media screen and (max-width: 1024px){
    #container{
        flex-direction: column;
        #outcome{
            display: none;
        }
        #title{
            margin-bottom: 20px;
        }
    }
    
}